.header-content-inner {
  position:absolute;
  top: calc(50% - 200px);
  left: calc(50% - 140px);
  z-index: 1000;
}

.header-content {
  height: 100%;
}


.portfolio-box {
  height: 200px;
}

@media only screen and (max-device-width: 992px){
  .header-content-inner {
    top: calc(50% - 150px);
  }
}
